#app {
  // start global style
  margin: 0;

  $main-color: #ee5253;
  $second-color: #2d3436;

  font-family: "Lato", sans-serif;

  .section {
    padding: 20px 0px;
  }

  button.btn {
    background: transparent;
    color: $main-color;
    border-radius: 10px;
    border: 1px solid $main-color;
    padding: 5px 40px 7px 53px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    transition: ease 0.3s;
    &:hover {
      color: #fff;
      background: $main-color;
    }
  }

  .__head {
    color: $main-color;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      background: $main-color;
      height: 2px;
      width: 30px;
    }
  }

  // end global style

  // start loading
  .loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // end loading

  //   navigation bar style
  nav {
    background: $main-color;
    border-bottom: 1px solid #eee;
    .navbar-brand {
      color: #fff;
      font-weight: bold;
    }
    .navbar-toggler {
      outline: none;
      color: #fff;
      background: #49467b;
      padding: 3px 8px;
      i.fa-bars {
        font-size: 28px;
      }
    }
    .navbar-collapse {
      .nav-item {
        margin-right: 17px;
        a {
          outline: none;
          color: #fff;
          padding: 1px 12px 2px 12px;
          transition: ease 0.3s;
          &:hover {
            color: #eee;
          }
        }

        &.active {
          color: #fff;
          a {
            background: #49467b;
            color: inherit;
            border-radius: 30px;
            &:hover {
              color: $main-color;
              background: #fff;
            }
          }
        }
      }
    }
  }

  // start food section
  .food {
    margin-top: 70px;
  }
  // end food section

  // propper style
  .propper-container {
    .propper {
      .title {
        color: $main-color;
        font-weight: bolder;
        font-size: 52px;
        margin-bottom: 10px;
      }
      p.text {
        color: $second-color;
        line-height: 1.7;
        font-size: 17px;
        margin-bottom: 25px;
      }
    }
    .image {
      img {
        width: 100%;
      }
    }
  }

  //   start offring section
  .offring {
    .offring-heading {
      span {
        color: $main-color;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      h3 {
        margin: 5px 0 0;
        font-weight: bolder;
        font-size: 24px;
        word-spacing: 1px;
      }
    }

    .card-offring {
      .logo {
        font-size: 50px;
        color: $main-color;
      }
      .title {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
      }

      .text {
        font-size: 15px;
        color: $second-color;
        line-height: 1.6;
      }
    }
  }
  //   end offring section

  //   start eat section
  .eat {
    margin-top: 20px;
    padding: 20px;
    background: #ffff;
    .container {
      background: url("../../public/dist/img/bg.png") no-repeat center;
      background-size: cover;
      padding: 30px 40px;
    }
    .eat-content {
      background: #fff;
      border-radius: 8px;
      padding: 40px 40px 20px;

      // head
      .head {
        h4 {
          font-size: 30px;
          font-weight: bolder;
          color: #444;
          text-transform: capitalize;
          margin-bottom: 20px;
          span.you {
            color: $main-color;
          }
        }

        .text {
          color: $second-color;
          line-height: 1.6;
        }
      }

      // list
      .eat-plats {
        ul {
          margin: 10px 0 25px;

          li {
            &:not(:last-of-type) {
              margin-right: 20px;
            }

            &.active a {
              background: $main-color;
              color: #fff;
              &:hover {
                opacity: 0.7;
              }
            }

            a {
              background: #fff;
              color: $main-color;
              border-color: $main-color;
              transition: ease 0.4s;
              &:hover {
                background: $main-color;
                color: #fff;
              }
            }
          }
        }
      }

      // eat plats card
      .eat-plat-cards {
        margin-top: 5px;
        .plat {
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid $main-color;
          border-left-width: 2px;
          border-right-width: 2px;
          padding: 0 10px 10px;
          border-radius: 5px;
          margin-bottom: 15px;
          .image {
            padding: 2px;
            img {
              width: 100%;
              height: 170px;
            }
          }
          .title {
            color: $main-color;
            margin: -10px 0 5px;
          }
          .price {
            color: $second-color;
            font-size: 17px;
          }
          .icon {
            width: 40px;
            height: 40px;
            padding: 8px;
            background: $main-color;
            color: #fff;
            font-size: 24px;
            margin: 10px auto;
            line-height: 0.2;
            border-radius: 50%;
            text-align: center;
          }
        }
      }
    }
  }
  //   end eat section

  // start contact us section
  .contact-us {
    // header
    .contact-header {
      margin-bottom: 20px;
      p {
        color: $second-color;
      }
    }

    // info
    .card-info {
      text-align: left;

      .title {
        color: $main-color;
        font-size: 24px;
        margin-bottom: 10px;
        text-decoration: underline;
        i {
          font-size: 16px;
        }
      }
      .list-unstyled {
        li {
          margin-bottom: 4px;
          a {
            color: $second-color;
            font-size: 16px;
          }
        }
      }
      .social-media {
        li {
          display: inline-block;
          margin-right: 15px;
          a {
            color: $main-color;
            font-size: 26px;
            transition: ease 0.3s;
            cursor: pointer;
            &:hover {
              color: $second-color;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
  // end contact us section

  // start top button
  #to-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: $main-color;
    width: 45px;
    height: 45px;
    line-height: 1.6;
    cursor: pointer;

    #btn-scroll {
      position: relative;
      top: 10px;
      color: #fff;
      font-size: 20px;
      transition: ease 0.3s;
    }

    &:hover {
      #btn-scroll {
        top: 0;
      }
    }
  }
  // end top button

  // Start media devices ----------------------------------

  // extra small media
  @media (max-width: 576px) {
    // navigation
    .propper-container {
      .propper {
        .title {
          font-size: 37px;
        }
        p.text {
          font-size: 16px;
        }
      }
    }

    // east section
    .eat {
      padding: 10px;
      .container {
        background-color: $main-color;
        padding: 10px;
        .eat-content {
          border-radius: 0;
          padding: 30px 15px;
        }
      }
    }
  }

  // // small media
  // @media (min-width: 576px) and (max-width: 768px) {
  //   // navigation
  // }

  // meduim media
  @media (min-width: 768px) and (max-width: 992px) {
    // navigation
    .propper-container {
      margin-top: 80px;
    }
  }

  // // large media
  // @media (min-width: 992px) {
  //   // navigation

  //   // Start section food
  //   .food {
  //   }
  // }

  // End media devices ----------------------------------
}
